* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "nikasha_regular";
    src: url('../../../Font/nikasha-Regular.otf');
}

@font-face {
    font-family: "nikashaLp_regular";
    src: url('../../../Font/nikashaLP-Regular.otf');
}


@font-face {
    font-family: "nikashamc_regular";
    src: url('../../../Font/nikashaMC-Regular.otf');
}


@font-face {
    font-family: "Sallafi";
    src: url('../../../Font/Sallafi.otf');
}

.top-header {
    background-color: #B69155;
    padding: 10px 15px;
    text-align: center;
}

.category {
    max-width: 900px;
    margin: auto;
}

.top-header h3 {
    color: #FFFFFF;
    font-family: 'Sallafi';
    font-size: 80px;
    letter-spacing: 10px;
    margin-bottom: 0;
    line-height: 1.2196;

    @media screen and (max-width: 598px) {
        line-height: 70px;
    }
}


.carousel-container {
    padding: 0 0px 0px 30px;
    margin: 50px 0px;
}



.carousel-container .item {
    background-color: #B69155;
    box-shadow: 9px 11px 11.6px 0px #00000040;
    padding: 20px 30px;
    border-radius: 20px;
    position: relative;
    height: 340px;
    text-align: center;
    white-space: normal;
}


.carousel-container .slick-slide>div {
    padding: 0 0px 0px 20px;
}

.carousel-container .slick-list {
    overflow: inherit;
}


.carousel-container .item h2 {
    color: #F8F6F0;
    font-weight: 400;
    font-size: 70px;
    font-family: 'Sallafi';
    letter-spacing: 10px;
    margin-bottom: 0;
    line-height: 1.1196;
}




.product_images {
    position: absolute;
    bottom: -40%;
    transform: translate(-50%, -20%);
    left: 50%;
}

.product_images img {
    max-width: 220px;
}

.carousel-container .item p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1.2195;
    color: #F8F6F0;
}

.see_more {
    margin: 20px auto;
    max-width: 200px;
}







@media screen and (min-width: 1700px) {
    .carousel-container {
        margin: 50px auto;
        max-width: 1920px;
    }
}

.see_more button {
    border: 1.6px solid #FFFFFF;
    color: #F8F6F0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
}




@media screen and (max-width: 992px) {

    .carousel-container {
        padding: 0px 10px;
    }

}

.next_header {
    margin-top: 170px;
}

.product_image {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-containers {
    padding-left: 30px;
    margin: 80px 0px;
}

.carousel-containers .slick-slide>div {
    padding: 0 20px 0px 20px;
}

.staps_an {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 10px 0px;
}

.add_cart {
    text-align: center;
    margin-top: 20px;
}

.add_cart button {
    background-color: #B69155;
    border-radius: 100px;
    width: 100%;
    border: none;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

.top_pras {
    font-size: 12px;
    color: #B69155;
    font-weight: 300;
    margin-bottom: 10px;
}


.cat_name p {
    color: #B69155;
    font-size: 14px;
    font-weight: 700;
}

.cat_name .light_tet {
    margin-right: 10px;
    text-decoration: line-through;
    color: #b6915569;

}

.staps_an h3 {
    font-size: 42px;
    color: #B69155;
    font-family: 'Sallafi';
    letter-spacing: 2px;
    margin-bottom: 0;
    line-height: 1.2196;
}

.staps_an span {
    background-color: #B69155;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 100px;
}

.staps_an span i {
    margin-right: 5px;
    font-size: 12px;
}

@media screen and (min-width: 1700px) {
    .all_items {
        max-width: 1920px;
        margin: auto;
    }
}


@media screen and (max-width: 992px) {
    .staps_an {
        display: initial;
    }
}


.bundle_elements {
    max-width: 1240px;
    margin: 80px auto;
}


.carousel-containers.bundle_elements {
    padding-left: 0px;
}

.bundle_elements .product_image img {
    width: 100%;
}

.offer_combo {
    background-color: #693C19;
    padding: 40px 10px 20px 10px;
    border-radius: 20px;
}

.bundle_elements .slick-prev:before,
.slick-next:before {
    color: #B69155 !important;
    font-size: 42px !important;
}


.bundle_elements .slick-prev {
    left: -80px !important;
}

.bundle_elements .slick-next {
    right: -50px !important;
}


/* footer color   */


.brown_footer {
    background-color: #693C19;
    padding: 40px 10px;
    position: relative;
    top: 0;
}

.footer_category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 250px;
    grid-row-gap: 30px;
    max-width: 1300px;
    margin: auto;
}

.footer_category>div:nth-child(1),
.footer_category>div:nth-child(2) {
    position: relative;
    top: 0;
}

.footer_category>div:nth-child(1)::after,
.footer_category>div:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -120px;
    background-color: rgba(255, 255, 255, 0.085);
    width: 1px;
    height: 200px;
}



.brk_logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    max-width: 270px;
    width: 100%;
}

.footer_category h4 {
    color: #F8F6F0;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0px;
    letter-spacing: 3px;
    font-family: 'Sallafi';
}

.footer_category ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    padding-inline-start: 0px !important;
    margin-left: 20px;
    list-style-type: circle;
}

.footer_category ul li {
    color: #F8F6F0;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
}

.categor_sec p {
    color: #F8F6F0;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}



/* Banner css starts here */
.banner__container {
    background-image: url('../../../Assets/Banner/banner.png');
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    position: relative;
    overflow: hidden;
    z-index: 3;
}



.banner__container>img:nth-child(1) {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 4;

    @media screen and (max-width: 598px) {
        width: 120px;
    }
}

.banner__container>img:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 4;
}

.banner__overlay__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1240px;
    text-align: center;
    padding: 0px 15px;
    z-index: 2;
}

.banner__overlay__content>h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.3195;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (max-width: 598px) {
        font-size: 28px;
    }
}

.banner__overlay__content>p {
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.5px;

    @media screen and (max-width: 598px) {
        font-size: 14px;
    }
}

/* Banner css ends here */

.itemw {
    border: 3px solid rgba(182, 145, 85, 1);
    border-radius: 33px;
    padding: 20px 10px;
}