.header__container {
    position: fixed;
    top: 0px;
    border-radius: 0px 0px 10px 10px;
    left: 0;
    right: 0;
    max-width: fit-content;
    margin: auto;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.025);
    padding: 10px 100px;
    backdrop-filter: blur(100px);
    transition: transform 0.3s ease-in-out;
    /* border-bottom: 3px solid #f7f7f7; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header__container.hidden {
    transform: translateY(-100%);
    /* slide up & hide */
}

.header__container>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.header__container>ul>li {
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Poppins';
}

.header__container>ul>li>a {
    text-decoration: none;
    color: white;
}